body {
    font-family: Arial, sans-serif;
  }
  

  section.menu{
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    min-height: 700px;
    background-image: url(fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }


  .container {
    width: 600px;
    margin-left: 580px;
  }

  .container h2{
    width: 600px;
    color: rgb(7, 237, 26);
  }

  .container h3{
    font-size: 15px;
    color:aliceblue;
  }

  .container h4{
    font-size: 15px;
    color:aliceblue;
  }

  .container h5{
    padding: -40px;
    color: aliceblue;
    font-size: 18px;
    margin-left: -40px;
    position: absolute;
  }

  .sobre-img{
    padding: 15px;
    position: absolute;
    margin-left: -55px
  }

  .sobre-img img{
    width: 30px;
    height: auto;
  }
  
  .form-group {
    width: 250px;
    margin-bottom: 10px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: rgb(210, 213, 210);
  }
  
  .form-group input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
  }


  
  .form-group button {
    margin-top: 10px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: .5s;
  }

  .form-group button:hover{
    background-color:transparent;
    border: 2px solid white;
    cursor: pointer;
    font-weight: bold;
  }

  .anuncio{
    margin-top: -35px;
    padding: 20px;
    margin-left: -26px
  }

  @media screen and (max-width: 768px){

    section.menu {
      padding: 35px;
      background-image: url(fundo\ mobile.png);
    }
  
    .container {
      width: 100%;
      margin: 20px;
    }
  
    .container h2 {
      width: 100%;
      font-size: 20px;
    }
  
    .container h3,
    .container h4 {
      font-size: 14px;
    }
  
    .form-group {
      width: 100%;
    }

    .sobre-img img{
      display: none;
    }
  }

